.wrapper-graph-doughnut {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40% auto 25%;
}

.graph-doughnut {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.data-in-graph-doughnut {
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
