.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 130px);
  background: #9dcfff;
  border-radius: 10px;
  padding: 30px 0;
}

.main-sidebar .span-container {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px white solid;
  border-radius: 50%;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sidebar .span-container span {
  font-size: 35px;
  color: white;
  user-select: none;
}

.main-sidebar .span-container:hover {
  background-color: white;
}

.main-sidebar .span-container:hover > span {
  color: #9dcfff;
}

.div-wrapper .sidebar-display-none {
  display: none;
}

.main-sidebar .sidebar-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-sidebar .sidebar-options p {
  font-size: 15px;
  padding: 5px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.main-sidebar .sidebar-options p:hover {
  background-color: white;
  color: #9dcfff;
}

@media only screen and (max-width: 700px) {

  .div-wrapper .show-sidebar-display-block {
    display: block;
  }
}
