.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 13rem);
  background: #9dcfff;
  border-radius: 1rem;
  padding: 3rem 0;
}

.main-sidebar .span-container {
  text-align: center;
  width: 5rem;
  height: 5rem;
  border: 0.1rem white solid;
  border-radius: 50%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sidebar .span-container span {
  font-size: 3.5rem;
  color: white;
  user-select: none;
}

.main-sidebar .span-container:hover {
  background-color: white;
}

.main-sidebar .span-container:hover>span {
  color: #9dcfff;
}

.div-wrapper .sidebar-display-none {
  display: none;
}

.main-sidebar .sidebar-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  height: 11.5rem;
}

.main-sidebar .sidebar-options li {
  list-style: none;
}

.main-sidebar .sidebar-options a {
  text-decoration: none;
  color: white;
  background-color: #9dcfff;
  border: 0.2rem solid white;
  width: 15rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.main-sidebar .sidebar-options a.active{
  color: #9dcfff;
  background-color: white;
}

.main-sidebar .sidebar-options a:hover{
  color: #9dcfff;
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 700px) {

  .div-wrapper .show-sidebar-display-block {
    display: block;
  }
}