nav.sidebar {
  position: sticky;
  top: 0;
  margin: 10px;
  height: auto;
  width: 200px;
  background: black;
  left: -210px;
  /* transition: all 500ms linear; */
  border-radius: 10px;
}

nav.sidebar ul li {
  font-family: sans-serif;
  text-align: center;
  color: white;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  list-style: none;
}

nav.sidebar ul li .logo {
  width: 100px;
  border-radius: 50%;
}

nav.sidebar .toggle-button {
  position: absolute;
  left: 210px;
  bottom: 20px;
  cursor: pointer;
}

nav.sidebar .toggle-button span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
