.main-header {
  height: 100px;
  padding: 0 90px;
  background: #fa93e7;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main-header .header-title {
  font-size: 50px;
  color: white;
  user-select: none;
}

.header .main-header .header-content {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.header .main-header .header-content p {
  color: white;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.header .main-header .header-content p:hover {
  color: #fa93e7;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .main-header {
    padding: 0 40px;
  }

  .header .main-header .header-title {
    font-size: 40px;
    min-width: 226px;
    margin-left: 20px;
  }

  .header .main-header .header-content {
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .header .main-header .header-content p {
    text-align: center;
    margin-right: 15px;
    width: auto;
  }
}

@media only screen and (max-width: 570px) {
  .main-header {
    padding: 0 10px;
  }

  .header .main-header .header-title {
    font-size: 30px;
    min-width: auto;
    width: auto;
    text-align: center;
    margin-left: auto;
  }

  .header .main-header .header-content p {
    margin-right: 15px;
    width: auto;
  }
}