.grid-doughnut-graph{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.grid-doughnut-graph > div{
    padding: 1em;
}

.grid-doughnut-graph > div:hover{
    border: 1px solid red;
}