.rgb-led-dashboard{
    display: grid;
    gap: 3rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.rgb-led-dashboard .graph-element {
    background-color: white;
    border-radius: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.rgb-led-dashboard .graph-element .graph-element-header{
    width: 100%;
    text-align: center;
    border-bottom: #eef0f1 solid 0.3rem;
    font-size: 1.5rem;
    color: #939494;
}

.rgb-led-dashboard .graph-element .graph-element-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
