.grid-doughnut-graph{
    display: grid;
    gap: 3rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.grid-doughnut-graph .graph-element {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}